<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body id="inner-wrap">
	<header id="top">{{ partial "header.html" . }}</header>
	<nav id="nav">
		<div class="block">
			{{ partial "menu.html" .Site.Menus.main }}
			<a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a>
		</div>
	</nav>
	<main>
		<section>
			<article class="news-post">
				<header>
					<h1>{{ .Title }}</h1>
					<div>
						<h5 class="floatleft">{{ .Params.location }}</h5>
						<h5 class="floatright">{{ .Date.Format "2006-01-02" }}</h5>
					</div>
				</header>
				<main class="clear">{{ .Content}}</main>
				<footer>{{ with .Params.backgroundcopyright }}<p>{{ . }}</p>{{ end }}</footer>
			</article>
		</section>
	</main>
	<footer>{{ partial "footer.html" . }}</footer>
	{{ partial "foot.html" . }}
</body>
</html>