body > header {
	background-color: white;
}
body {
	background: #d8dfe5;
	background: linear-gradient(#d8dfe5, #dfe5e9) fixed;
}
body > main > section > article {
	background-color: #dfe5e9;
}
.nav-btn {
	background: white url("../img/nav-icon.svg") left center no-repeat;
	opacity: 1.0;
}
.nav-btn:hover, .nav-btn:focus {
	opacity: 0.8;
}
article.latestnews article {
	margin: 0;
	padding: 0;
}
nav.pagination:first-of-type {
	padding-top: 1em;
}
nav.pagination:last-of-type {
	padding-bottom: 1em;
}
nav.pagination {
	margin-right: auto;
	margin-left: auto;
	max-width: 52em;
	font-weight: bold;
	background-color: #dfe5e9;
}
nav.pagination > main {
	margin-right: auto;
	margin-left: auto;
	width: 21.9em;
}
@media only screen and (min-width: 52em) {
	body > header {
		position: fixed;
		z-index: 200;
		height: 160px;
		top: 0;
		left: 0;
	}
	body > header > a > img {
		height: auto;
		width: auto;
		max-height: 100%;
	}
	body > nav {
		position: fixed !important;
		top: 0;
		left: 0;
		margin-top: 160px;
		height: 32px;
	}
	body > main {
		margin-top: 192px;
	}
	article.latestnews article {
		float: left;
		width: 45%;
	}
	article.latestnews article:first-child {
		padding-right: 2em;
	}
	article.latestnews h2 {
		margin-top: 0;
		font-size: 1em;
	}
	article.latestnews header > div > h5 {
		float: left;
		padding-right: 0.5em;
	}
	article.latestnews h5 {
		font-style: italic;
		font-weight: normal;
		margin-bottom: 0.3em;
	}
}
