body > header {
	background-color: white;
}
body {
	background: #d8dfe5;
	background: linear-gradient(#d8dfe5, #dfe5e9) fixed;
}
body > main > section > article {
	background-color: #dfe5e9;
}
.nav-btn {
	background: white url("../img/nav-icon.svg") left center no-repeat;
	opacity: 1.0;
}
.nav-btn:hover, .nav-btn:focus {
	opacity: 0.8;
}
