<script>
var isHeaderSmall = false;
	$(document).ready(function() {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-69366015-1', 'auto');
		ga('send', 'pageview');

		if($(window).width() > 831) {
			$(window).scroll(function(e) {
				animationTime = 1000;
				if($(document).scrollTop() > 0 && !isHeaderSmall) {
					isHeaderSmall = true;
					$('#top').stop();
					$('#nav').stop();
					$('body > main').stop();
					$('#top').animate({height: '100px'}, animationTime);
					$('#nav').animate({marginTop: '100px'}, animationTime);
					$('body > main').animate({marginTop: '132px'}, animationTime);
				}
				else if($(document).scrollTop() <= 0 && isHeaderSmall) {
					isHeaderSmall = false;
					$('#top').stop();
					$('#nav').stop();
					$('body > main').stop();
					$('#top').animate({height: '160px'}, animationTime);
					$('#nav').animate({marginTop: '160px'}, animationTime);
					$('body > main').animate({marginTop: '192px'}, animationTime);
				}
			});
		}
	})
</script>
<script>
if (document.URL.search("localhost") == -1) {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69366015-1', 'auto');
  ga('send', 'pageview');
}
</script>
