<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body id="inner-wrap">
	<header id="top">{{ partial "header.html" . }}</header>
	<nav id="nav">
		<div class="block">
			{{ partial "menu.html" .Site.Menus.main }}
			<a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a>
		</div>
	</nav>
	<main>
		<section>
			{{ range .Site.Sections.start.Pages.ByWeight }}
				{{ if .Params.latestnews }}
					<article class="latestnews">
						{{ range first 2 .Site.Sections.nyheter.Pages.ByDate.Reverse }}
							{{ .Render "summary" }}
						{{ end }}
					</article>
				{{ else }}
			   {{ partial "article.html" . }}
				{{ end }}
			{{ end }}
		</section>
	</main>
	<footer>{{ partial "footer.html" . }}</footer>
	{{ partial "foot.html" . }}
</body>
</html>
