<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body id="inner-wrap">
	<header id="top">{{ partial "header.html" . }}</header>
	<nav id="nav">
		<div class="block">
			{{ partial "menu.html" .Site.Menus.main }}
			<a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a>
		</div>
	</nav>
	<main>
		<section style="position: relative; color: white;">
			<video autoplay loop>
				<source src="/start/beforeAfter.mp4" type="video/mp4"/>
				<!--<source src="/start/beforeAfter.webm" type="video/webm"/>-->
				Your browser does not support the video tag.
			</video>
			<h5 style="position: absolute; bottom: 0%; right: 50%; padding-right: 10em;">utan Vidhance</h5>
			<h5 style="position: absolute; bottom: 0%; left: 50%; padding-left: 10em;">med Vidhance</h5>
		</section>
		<section>
			{{ range .Site.Sections.start.Pages.ByWeight }}
			   {{ partial "article.html" . }}
			{{ end }}
		</section>
	</main>
	<footer>{{ partial "footer.html" . }}</footer>
	{{ partial "foot.html" . }}
</body>
</html>
