<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
	{{ partial "header.html" . }}
	{{ partial "navigation.html" . }}
	<main class="no-animation">
		<section>
			{{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) 5}}
			{{ partial "pagination.html" . }}
			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
			{{ partial "pagination.html" . }}
		</section>
	</main>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
</body>
</html>
