<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body id="inner-wrap">
	{{ partial "header.html" . }}
	<nav id="nav" class="no-animation">
		<div class="block">
			{{ partial "menu.html" .Site.Menus.main }}
			<a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a>
		</div>
	</nav>
	<main class="no-animation">
		<section>
			{{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) 5}}
			{{ partial "pagination.html" $paginator }}
			{{ range $index, $page := .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
			{{ partial "pagination.html" $paginator }}
		</section>
	</main>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
</body>
</html>
